body {
  background-image: url(shivu.jpg);
  margin: 24px;
  padding: 20% 36% ;
}
h1{
    text-align: center;
    color: aliceblue;
    width:75%;
    font-style: italic;
}

.timer {
  font-family: sans-serif;
  display: inline-block;
  padding: 24px 32px;
  border-radius: 30px;
  background: white;
}

.timer__part {
  font-size: 36px;
  font-weight: bold;
}

.timer__btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: blue;
  cursor: pointer;
}

.timer__btn--start {
  background-color: #ff0256;
}

.timer__btn--stop {
  background: #ff0256;
}
